job_matcher.json
{
  "nodes": [
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        848,
        0
      ],
      "id": "e9cb4e0a-57d1-463a-b207-d5efef964ebd",
      "name": "Limit"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Titel:  {{ $json.title }}\nBeschreibung: {{ $json.descriptionHtml }}",
        "messages": {
          "messageValues": [
            {
              "message": "Du bist ein technischer Karriereberater und Headhunter. Analysiere die folgende Stellenanzeige für einen Informatikstudenten im 5. Semester. Er hat Erfahrung in React und JS (State-Management), sein Karriereziel ist aber eine Rolle als AI/Cloud Architect oder eine Leadership-Position.  Bewerte hart, ob diese Stelle zu seinen Zielen passt.  Seine absoluten Prioritäten sind: 1. Process Automation & Low-Code (n8n, RPA, Power Platform, API, Webhooks) 2. AI Engineering (Generative AI, Python, RAG, LLMs, Vector DBs) 3. Cloud & Enterprise Architecture (AWS, Azure, Docker, DevOps) Strategie (BPMN, Process Mining) ist ein netter Bonus. Reine Dateneingabe, reines Testen oder First-Level-Support sind ein hartes Ausschlusskriterium (Score unter 20).  Antworte AUSSCHLIESSLICH mit einem validen JSON-Objekt. Nutze exakt dieses Format: {   \"job_titel\": \"Titel der Stelle aus dem Text\",   \"match_score\": [Zahl zwischen 1 und 100],   \"bewerbung_empfohlen\": [true oder false - nur true bei Score > 75],   \"kategorie\": \"Automation, AI Engineering, Cloud, Strategie oder Keine\",   \"warum_bewerben\": \"Ein knackiger Satz, warum diese Stelle perfekt als Sprungbrett zum Cloud/AI Architect passt oder warum sie ignoriert werden sollte.\" }"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1104,
        0
      ],
      "id": "5bdd628b-f62b-4447-a7fa-d1a67b990274",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1104,
        96
      ],
      "id": "9148a188-1c61-4855-a60c-b26f7bad9246",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "DEINE_GROQ_API",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  let rawText = item.json.text || \"\";\n  \n  // Markdown entfernen\n  rawText = rawText.replace(/```json/gi, \"\").replace(/```/g, \"\").trim();\n\n  try {\n    const parsedJson = JSON.parse(rawText);\n    \n    // WICHTIG: Wir mischen die KI-Daten mit den Original-Daten (URL, Location etc.)\n    // Wir holen uns die Original-Daten aus dem Input item\n    // Hinweis: In n8n muss man manchmal tricksen, um an die \"parent\" Daten zu kommen.\n    // Aber wir machen es einfach: Wir geben das KI-Ergebnis zurück \n    // UND wir holen uns die URL aus dem Kontext, falls möglich.\n    \n    // Bessere Strategie: Wir mergen das einfach.\n    results.push({\n        json: {\n            ...parsedJson,     // Die Daten von der KI (Score, Titel, Begründung)\n            url: item.json.url // Wir retten die URL aus dem vorherigen Node!\n        }\n    });\n\n  } catch (error) {\n    console.log(\"LLM Fehler (Kein JSON): \", rawText);\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        0
      ],
      "id": "3cb363ce-ef5d-4fe0-a7dc-914c0f1e7e5c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 8,
              "triggerAtMinute": 18
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        192,
        0
      ],
      "id": "16aa0b1b-2e1a-4fa4-a4d5-5c12524aeb90",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tech_jobs",
          "mode": "list",
          "cachedResultName": "tech_jobs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "bewerbung_empfohlen": "={{ $json.bewerbung_empfohlen }}",
            "match_score": "={{ $json.match_score }}",
            "job_titel": "={{ $json.job_titel }}",
            "kategorie": "={{ $json.kategorie }}",
            "warum_bewerben": "={{ $json.warum_bewerben }}",
            "url": "={{ $('Limit').item.json.link }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "job_titel",
              "displayName": "job_titel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "match_score",
              "displayName": "match_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "bewerbung_empfohlen",
              "displayName": "bewerbung_empfohlen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "kategorie",
              "displayName": "kategorie",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "warum_bewerben",
              "displayName": "warum_bewerben",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gescannt_am",
              "displayName": "gescannt_am",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "skipOnConflict": true
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1808,
        0
      ],
      "id": "0258e345-40f1-42f2-82e9-8c7fe6b556d6",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "DEINE_POSTGRES_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const hitList = [];\n\n// Deine strengen Filter\nconst jobRegex = /(werkstudent|student|intern)/i;\nconst ortRegex = /(düsseldorf|dortmund|essen|bochum|nrw|remote|nordrhein-westfalen|köln)/i;\nconst techRegex = /\\b(cloud|aws|azure|ai|genai|artificial intelligence|automation|rpa|n8n|power platform|react|python|salesforce|sap|devops|ki)\\b/i;\n\nconst titleBlacklist = /(sales|vertrieb|marketing|hr|human resources|recruiting|talent|helpdesk|buchhaltung|assistenz|assistant|operations|support|content|webdesign|seo|social media)/i;\nconst descBlacklist = /(first level|1st level|dateneingabe|call center|customer support|kundenanfragen|erstdiagnose|ticketsystem|kundenservice)/i;\n\nfor (const item of $input.all()) {\n    // Apify-spezifische Felder abgreifen (manche Scraper nennen es description, manche jobDescription)\n    const title = (item.json.title || \"\").toLowerCase();\n    const desc = (item.json.description || item.json.jobDescription || \"\").toLowerCase(); \n    const location = (item.json.location || item.json.locationString || \"\").toLowerCase();\n    \n    const fullText = title + \" \" + desc + \" \" + location;\n\n    const isStudent = jobRegex.test(title);\n    const isNRW = ortRegex.test(fullText);\n    const isTech = techRegex.test(fullText);\n    \n    const isTitleBlacklisted = titleBlacklist.test(title);\n    const isDescBlacklisted = descBlacklist.test(fullText);\n\n    // Wenn alles passt, ab auf die Hitliste!\n    if (isStudent && isNRW && isTech && !isTitleBlacklisted && !isDescBlacklisted) {\n        hitList.push(item);\n    }\n}\n\nreturn hitList;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        0
      ],
      "id": "95aac578-d6bc-4bc8-86b7-163c95f435b4",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2c461a76-c459-4f0b-923d-6e54907ca69c",
              "leftValue": true,
              "rightValue": "={{ $json.bewerbung_empfohlen }}",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1584,
        0
      ],
      "id": "b9aec0be-5cba-4b32-8787-d47b052f7ccc",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "=DEINE_tELEGRAM_ID",
        "text": "=🚨 Neuer Top-Match gefunden! 🚨  💼 Job: {{ $json.job_titel }} 🎯 Score: {{ $json.match_score }}/100 🔥 Kategorie: {{ $json.kategorie }}  🧠 Warum du dich bewerben solltest: {{ $json.warum_bewerben }}  🔗 Link zur Stelle: {{ $json.url }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2016,
        0
      ],
      "id": "213fb3d4-92a5-40bb-a51d-c6b0eef50b75",
      "name": "Send a text message",
      "webhookId": "0d921343-4e59-4eb9-8bdf-cd28e8d5f434",
      "credentials": {
        "telegramApi": {
          "id": "DEINE_TELEGRAM_API",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "hKByXkMQaC5Qt9UMN",
          "mode": "id"
        },
        "customBody": "{\n    \"count\": 200,\n    \"scrapeCompany\": true,\n    \"splitByLocation\": false,\n    \"urls\": [\n        \"https://www.linkedin.com/jobs/search/?keywords=werkstudent%20IT\"\n    ]\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "id": "f393e309-9e2f-4e00-bb3c-de5286e81851",
      "name": "Run an Actor and get dataset",
      "credentials": {
        "apifyApi": {
          "id": "DEINE_APIFY_API",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "DEINE_TELEGRAM_ID",
        "text": "Heute keine Stellen gefunden, die zu deinem Profil passen! Schau am besten morgen wieder vorbei.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1840,
        144
      ],
      "id": "f1d66d33-419c-449b-9c78-b3b913936d37",
      "name": "Send a text message1",
      "webhookId": "dbc7df59-8090-477c-b61c-92a5fbb890f8",
      "credentials": {
        "telegramApi": {
          "id": "DEINE_TELEGRAM_API",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Limit": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Run an Actor and get dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor and get dataset": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "PORTFOLIO_INSTANCE"
  }
}